.background_image{
	background: url("../img/ysr.jpeg") no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	width: 50vw; 
	}

.font-family{

}

.button{
	color: white;
	border-radius: 40px;
	font-size: 30px;
	font-family: arial;
	position: fixed;
	bottom: 100px

}


.heading:hover {
	color: hotpink
}

.heading{
	position:fixed;
	bottom:	5px;
	color: white;
	font-family: "Brush Script MT";
	font-size: 50px;
}